<!DOCTYPE html>
<html>
<head>
    <title>Angular Quickstart</title>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/styles.b4a243358801ec84d002.css" rel="stylesheet">
</head>
<body>
    <app>Loading...</app>
    <script type="text/javascript" src="bundles/polyfills.b4a243358801ec84d002.bundle.js"></script>
    <script type="text/javascript" src="bundles/vendor.b4a243358801ec84d002.bundle.js"></script>
    <script type="text/javascript" src="bundles/app.b4a243358801ec84d002.bundle.js"></script>
</body>
</html>